<div class="post-show-container">
  <div class="post-main-content">
    <div class="post-media">
      <% if @post.image.attached? %>
        <%= image_tag @post.image, style: "width: 100%;" %>
      <% end %>
    </div>

    <div class="post-details">
      <header>
        <strong><%= link_to @post.account.username, "#" %></strong>
      </header>
      
      <div class="post-body">
        <p><%= @post.body %></p>
      </div>

    </div>
  </div>
</div>