<div id="loading-screen" class="loading-screen">
  <div class="loading-container">
    <div class="loading-logo">
      <%= image_tag 'fav-icon.jpg', alt: 'Loading', class: 'logo-image' %>
    </div>
    <p class="loading-text">Завантаження...</p>
  </div>
</div>
